<div class="header py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-info">Bienvenido al creador de test</h1>
          <p>Ingresa el título del test</p>
          <textarea rows="1" cols="50" name="Description" id="Description"></textarea>

          <hr style="width:100%;" color="black">
          
          <div class="card animated fadeIn fast">
            <div class="card-body" color="blue">
                <h5 class="card-title"></h5>
                <p class="card-text">Ingresa el enunciado de tu pregunta</p>
                <textarea rows="1" cols="50" name="Description" id="Description"></textarea> 
                <p class="card-text" [(ngModel))]="obj.respuestas">Ingresa las respuestas posibles</p>
                <label for="fname">Opción 1: </label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Opción 2: </label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="lname">Opción 3: </label>
                <input type="text" id="lname" name="lname"><br><br>
                
                <p class="card-text"><small class="text-muted"></small></p>
                
            </div>
        </div>

        <hr style="width:100%;" color="black">

        <div class="card animated fadeIn fast">
          <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Ingresa el enunciado de tu pregunta</p>
              <textarea rows="1" cols="50" name="Description" id="Description"></textarea> 
              <p class="card-text" [(ngModel))]="obj.respuestas">Ingresa las respuestas posibles</p>
              <label for="fname">Opción 1: </label>
              <input type="text" id="fname" name="fname"><br><br>
              <label for="lname">Opción 2: </label>
              <input type="text" id="lname" name="lname"><br><br>
              <label for="lname">Opción 3: </label>
              <input type="text" id="lname" name="lname"><br><br>
              
              <p class="card-text"><small class="text-muted"></small></p>
              
          </div>
        </div>

        <hr style="width:100%;" color="black">

        <div class="card animated fadeIn fast">
          <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Ingresa el enunciado de tu pregunta</p>
              <textarea rows="1" cols="50" name="Description" id="Description"></textarea> 
              <p class="card-text" [(ngModel))]="obj.respuestas">Ingresa las respuestas posibles</p>
              <label for="fname">Opción 1: </label>
              <input type="text" id="fname" name="fname"><br><br>
              <label for="lname">Opción 2: </label>
              <input type="text" id="lname" name="lname"><br><br>
              <label for="lname">Opción 3: </label>
              <input type="text" id="lname" name="lname"><br><br>
              
              <p class="card-text"><small class="text-muted"></small></p>
              
          </div>
        </div>

        <hr style="width:100%;" color="black">

        <div class="card animated fadeIn fast">
          <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Ingresa el enunciado de tu pregunta</p>
              <textarea rows="1" cols="50" name="Description" id="Description"></textarea> 
              <p class="card-text" [(ngModel))]="obj.respuestas">Ingresa las respuestas posibles</p>
              <label for="fname">Opción 1: </label>
              <input type="text" id="fname" name="fname"><br><br>
              <label for="lname">Opción 2: </label>
              <input type="text" id="lname" name="lname"><br><br>
              <label for="lname">Opción 3: </label>
              <input type="text" id="lname" name="lname"><br><br>
              
              <p class="card-text"><small class="text-muted"></small></p>
              
          </div>
        </div>

        <hr style="width:100%;" color="black">

        <div class="card animated fadeIn fast">
          <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Ingresa el enunciado de tu pregunta</p>
              <textarea rows="1" cols="50" name="Description" id="Description"></textarea> 
              <p class="card-text" [(ngModel))]="obj.respuestas">Ingresa las respuestas posibles</p>
              <label for="fname">Opción 1: </label>
              <input type="text" id="fname" name="fname"><br><br>
              <label for="lname">Opción 2: </label>
              <input type="text" id="lname" name="lname"><br><br>
              <label for="lname">Opción 3: </label>
              <input type="text" id="lname" name="lname"><br><br>
              
              <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>

        <hr style="width:100%;" color="black">

        <br> <br> 
        
        <button type="button" (click) = "addForm()"  class="btn btn-outline-primary btn-block">Guardar test</button>

        <br> <br> <br> <br>
        
        </div>
      </div>
    </div>
  </div>
</div>
